<div class="row">
  <div class="col-md-6">
    <h3>Day 1, Tuesday the 11th of November</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:30</td>  <td>Pre-course help with installations and setup</td> </tr>
      <tr> <td>10:00</td>  <td>Introdution to Python part 1</td> </tr>
      <tr> <td>11:00</td>  <td>Break</td> </tr>
      <tr> <td>11:05</td>  <td>Introduction to Python part 2</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break (or longer tea break depending on time zone)</td> </tr>
      <tr> <td>12:30</td>  <td>Analysing data with Python</td> </tr>
      <tr> <td>13:15</td>  <td>Break</td> </tr>
      <tr> <td>13:20</td>  <td>Plotting with Python/td> </tr>
      <tr> <td>14:00</td>  <td>End</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2, Thursday the 13th of November</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Answering questions about the homework or previous lesson</td> </tr>
      <tr> <td>10:00</td>  <td>Loops & Logic</td> </tr>
      <tr> <td>11:00</td>  <td>Break</td> </tr>
      <tr> <td>11:05</td>  <td>Loops & Logic (continued)</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch (or a long coffee break)</td> </tr>
      <tr> <td>12:30</td>  <td>Writing functions</td> </tr>
      <tr> <td>13:15</td>  <td>Break</td> </tr>
      <tr> <td>13:20</td>  <td>Debugging & Errors</td> </tr>
      <tr> <td>14:00</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>14:10</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
